<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External Styles -->

  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List It!</title>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />


  <link rel="stylesheet" href="../styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="../styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="../styles/header.css" type="text/css" />
  <link rel="stylesheet" href="../styles/todo-boxes.css" type="text/css" />

  <!-- External Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Arvo|Modak&display=swap" rel="stylesheet">
  </head>

<<<<<<< HEAD
  <body>
    <h1>Hello World!</h1>
  </body>
</html> -->

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Check It Oot</title>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">

<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<!-- External Styles -->

<link rel="stylesheet" href="../styles/layout.css" type="text/css" />
<link rel="stylesheet" href="../styles/nav.css" type="text/css" />
<link rel="stylesheet" href="../styles/header.css" type="text/css" />
<link rel="stylesheet" href="../styles/todo-boxes.css" type="text/css" />

<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<link rel="stylesheet" href="/styles/layout.css" type="text/css" />

<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>

<!-- External Fonts -->
<link href="https://fonts.googleapis.com/css?family=Arvo|Modak&display=swap" rel="stylesheet">

</head>

<body>

  <body>

    <!-- Top nav bar (fixed) -->
    <nav>
      <span id="leftnav">List It!</span>
      <span class="rightnav">
        <form class="searchvalue" action="/search" method="POST">
          <textarea class="input" rows="1" name="text" placeholder="What are you interested in?"></textarea><input id="navbutton" type="submit" width = 20px value="Find It!">
        </form>
      </span>

    </nav>
    <main class="container">
    <div class="containAll">

              <header class="siteheader">
            <h2>Generic header goes here!</h2>
          </div>
        </header>

      <div class="paddingDown">
        <!-- Page-specific (main) content here -->
        <div class="rightColumn">


            <section class="category">


                </div>
              </form>
            </section>
            <br>
            <br>
            <section class="category">
            </section>

        </div>
      </div>
    </div>
  </main>
    <script type="text/javascript" src="/scripts/composer-char-counter.js"></script>
  </body>

  </html>
=======
    <!-- Top nav bar (fixed) -->
    <nav>
        <span id="leftnav">List It!</span>
        <span class="rightnav">
          <form action="/users" method="POST">
            <textarea class="input" rows="1" name="text" placeholder="What are you interested in?"></textarea><input id="navbutton" type="submit" width = 20px value="Find It!">
            </form>
          </span>

      </nav>
      <main class="container">
      <div class="containAll">

                <header class="siteheader">
              <h2>Generic header goes here!</h2>
            </div>
          </header>

          <!-- Page-specific (main) content here -->

          <table>
            <tr>
              <td>
              <section class="category">
                <div>
                  <h3>Things to Watch</h3>
                </div>
              </section>
            </td>
            <td>
              <section class="category">
                <div>
                    <h3>Your To-Read Pile</h3>
                </div>
              </section>
            </td>
          </tr>
          <tr>
            <td>
          <section class="category">
              <div>
                <h3>Places to Eat</h3>
              </div>
            </section>
          </td>

            <td>
            <section class="category">
              <div>
                  <h3>Things to Buy</h3>
              </div>
            </section>
          </td>
        </tr>
          </table>
      </div>
    </main>
      <script type="text/javascript" src="/scripts/composer-char-counter.js"></script>
    </body>

    </html>
</html>
>>>>>>> b8e2b6c6ebf0ea35d67f48b92f4653fd7cf39c33
