<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Check It Oot</title>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">

<link rel="stylesheet" href="../vendor/normalize-4.1.1.css" type="text/css" />
<!-- External Styles -->

<link rel="stylesheet" href="../styles/layout.scss" type="text/css" />
<link rel="stylesheet" href="../styles/nav.scss" type="text/css" />
<link rel="stylesheet" href="../styles/header.scss" type="text/css" />
<link rel="stylesheet" href="../styles/todo-boxes.scss" type="text/css" />

<!-- External Fonts -->
<link href="https://fonts.googleapis.com/css?family=Arvo|Modak&display=swap" rel="stylesheet">

</head>
  <body>

    <!-- Top nav bar (fixed) -->
    <nav>
      <span id="leftnav">List It!</span>
      <span class="rightnav">
        <form action="/users" method="POST">
          <textarea class="input" rows="1" name="text" placeholder="What are you interested in?"></textarea><input id="navbutton" type="submit" width = 20px value="Find It!">
          </form>
        </span>

    </nav>
    <main class="container">
    <div class="containAll">

              <header class="siteheader">
            <h2>Generic header goes here!</h2>
          </div>
        </header>

        <!-- Page-specific (main) content here -->

        <table class="holdCategories">
          <tr>
            <td>
            <section class="category">
              <div>
                <h3>Things to Watch</h3>
              </div>
            </section>
          </td>
          <td>
            <section class="category">
              <div>
                  <h3>Your To-Read Pile</h3>
              </div>
            </section>
          </td>
        </tr>
        <tr>
          <td>
        <section class="category">
            <div>
              <h3>Places to Eat</h3>
            </div>
          </section>
        </td>

          <td>
          <section class="category">
            <div>
                <h3>Things to Buy</h3>
            </div>
          </section>
        </td>
      </tr>
        </table>
    </div>
  </main>
    <script type="text/javascript" src="/scripts/composer-char-counter.js"></script>
  </body>

  </html>
