.siteheader {
  display: flex;
  flex-direction: column;
  background-color: #394a4e;
  background-image: url("http://design.jboss.org/strimzi/social/images/strimzi_twitter_header.png");
  color: #ff8f0f;
  position: relative;
  padding: 20px;
  padding-top: 40px;
  padding-left: 20px;
  height: 250px;
  width: 100%;
  margin: auto;
}

.input {
  width: 40vw;
  height: 50px;
  background-color: #cecece;
  color: #360e0e;
  font-family: Prompt, sans-serif;
  border-radius: 20px;
  padding-left: 20px;
}

.headingtext {
  font-weight: normal;
  color: #ff9d00;
  font-family: Maven Pro, sans-serif;
}

#mylist {
  font-family: Leckerli One, cursive;
  font-size: 60px;
  font-weight: normal;
  font-color: #4aeb00;
}

.profilepic {
  vertical-align: text-top;
  margin: auto;
  position: relative;
  margin-top: 10px;
}

.searchbutton {
  border-radius: 15px;
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  .paddingDown {
    padding-top: 80px;
  }
}
