
div.category {
  border-radius: 30px;
}


.category {
  background: #a7b5bd;
  color: #000c2c;
  font-family: Prompt, sans-serif;
  font-size: 12pt;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
}

article {
  width: 100%;
  background-color: white;
  font-weight: normal;
  border-radius: 15px;
  border: solid #313131 2px;
  margin-bottom: 15px;
  padding: 15px;
  text-align: left;
  transition: all 0.2s;
}

article .itemheader {
  display: flex;
  font-weight: normal;
  font-size: 20px;
  justify-content: space-between;
  /* margin-bottom: 15px; */
  width: 98%;
}

article .resulthead {
  margin-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  font-weight: normal;
  font-size: 20px;
  justify-content: space-between;
  vertical-align: bottom;
  width: 100%;
}

article .searchtitle {
  font-size: 18pt;
  font-weight: bolder;
}

article .lefthead {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-weight: bolder;
}

article .righthead {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

article .itembody {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #00051f;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: left;
}

.mainitem {
  background-color: #ffffff;
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
 padding-left: 10px;
}

/* .removebtn {
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
  justify-content: space-between;
  align-content: space-between;
} */

article .itemsLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

article .itemsRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.article .itemfooter {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: left;
}


/* // CSS FOR SEARCH RESULTS */

.searchres {
  width: 50vw;
  font-family: Prompt, sans-serif;
  background-color: #ffffff;
  color: #00051f;
  margin: auto;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px
}


button#add {
  align-self: right;
  padding: 5px;
  font-family: Prompt, sans-serif;
  font-size: 15pt;
  font-weight: normal;
  background-color: rgb(255, 255, 255);
  color: #00520e;
  border: 2px solid #022a00;
  border-radius: 25px;
  transition: all 0.5s;
  margin: 8px;
  width: 300px;
}

button#add:hover {
  color: #009c1a;
  background-color: rgb(255, 255, 255);
  border: 2px solid #036600;
}

.poster {
  width: 50%;
  height: 50%;
}


/* BUTTONS - EDIT, REMOVE */


button.remove {
  align-self: right;
  padding: 5px;
  font-family: Prompt, sans-serif;
  font-size: 11pt;
  font-weight: normal;
  color: #616161;
  background-color: #cccccc;
  border: 2px solid #414141;
  transition: all 0.5s;
  margin: 5px;
}

button.remove:hover {
  color: red;
  border: 2px solid #570000;
}

button.edit {
  align-self: right;
  font-family: Prompt, sans-serif;
  font-size: 11pt;
  font-weight: normal;
  color: #616161;
  background-color: #cccccc;
  border: 2px solid #414141;
  transition: all 0.5s;
  margin: 5px;
}

button.edit:hover {
  color: #00524e;
  border: 2px solid #002a28;
}


/* DROPDOWN MENU - EDIT CATEGORY  */

/* Dropdown Button */
.dropbtn {
  background-color: rgb(101, 144, 172);
  color: white;
  width: 150px;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown button {
  border-radius: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


