
nav {
  font-family: 'Patua One', cursive;
  width: 100%;
  height: 90px;
  background-color: #7e0000;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  color: rgb(255, 102, 0);
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  padding: 1em;
  z-index: 100;
  display: flex;
  align-content: center;
  justify-content: space-between;
  vertical-align: top;
}

#rightnav {
  display: flex;
  align-content: center;
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  nav{
  background-color: #3b000c;
  }
}

#leftnav {
  font-family: Leckerli One, cursive;
  font-size: 30pt;
}

#rightnav {
  display: flex;
}

#navbutton {
  margin: 10px;
  width: 150px;
  height: 50px;
  color:white;
  background-color: #ff3c00;
  transition: all 0.5s;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  border-radius: 15px
}

#navbutton:hover {

  background-color: rgb(231, 0, 0);
  cursor: pointer;
}


// .input {
//   width: 40vw;
//   height: 50px;
//   background-color: #cecece;
//   color: rgb(54, 14, 14);
//   font-family: Prompt, sans-serif;
//   border-radius: 30px;
// }


#navarrow {
  color: #41e78c;
  border: none;
  padding-bottom: 5px;
  transition: all 0.5s;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-10px);
  }
}
