.new-tweet {
  width: 50vw;
  margin: auto;
  align-content: center;
  border-bottom-color: rgb(5, 34, 27);
  border-bottom-width: 5px;
  justify-content: space-between;
  display: none;
}

#error140 {
  margin: auto;
  color: #6d0000;
  width: 100%;
  text-align: center;
  border-top: solid darkred 3px;
  border-bottom: solid darkred 3px;
  border-left: solid darkred 3px;
  border-right:solid darkred 3px;
  border-radius: 10px;
  margin-top: 10px;
  display: none;
}

#zeroChars {
  margin: auto;
  color: #fffc42;
  width: 100%;
  align-content: center;
  border-top: solid #ffc506 3px;
  border-bottom: solid #ffc506 3px;
  border-left: solid #ffc506 3px;
  border-right:solid #ffc506 3px;
  border-radius: 10px;
  margin-top: 10px;
  display: none;
}

.footer {
  width: 50vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

#counter {
  align-content: right;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  color: #0f3624;
}

#countOK {
  color: #37dfd1
}



.tweetbtn {
  align-content: left;
  font-family: "Bungee", sans-serif;
  background-color: #5ddfa2;
  color: #004439; 
  box-sizing: border-box;

}

.input {
  width: 50vw;
  margin: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #354246 5px;
  background: none;
}

.errorMsg {
  margin: auto;
  color: red;
  font-weight: bold;
  border-radius: 25px;
  border-top: solid darkred 3px;
  border-bottom:  solid darkred 3px;
  border-right:  solid darkred 3px;
  border-left:  solid darkred 3px;
}


/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  .input {
    width: 100%;
    
  }
  .new-tweet {
  align-content: center;
  }
}