.category {
  background: #a7b5bd;
  color: rgb(0, 12, 44);
  font-family: Prompt, sans-serif;
  font-size: 14pt;
  width: 38vw;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;

}

.remove {
  align-self: right;
  font-family: Prompt, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  color: rgb(109, 0, 0);
  background-color: rgb(204, 204, 204);
  border: 2px solid #570000;
  transition: all 0.5s;
}

.remove:hover {
  font-weight: bolder;
  color: red;
  border: 2px solid #570000;
}

article {
  // padding: 10px;
  width: 100%;
  background-color: #ffffff;
  font-weight: normal;
  border-radius: 15px;
  border: solid #313131 2px;
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
  transition: all 0.2s;
}

article:hover {
  -moz-box-shadow: 3x 3px 0px #35415c;
  -webkit-box-shadow: 3px 3px 0px #35415c;
  box-shadow: 3px 3px 0px #35415c;

}

article .username {
display:none;
}

article:hover .username {
  display: initial;
  color: grey;
}

article .itembody{
  background-color: #f8f8f8;
  color: #001f1d;
  font-size: 25px;
  align-items: center;
  padding: 15px;
}

img {
  padding: 10px;
}



article #usericon {
  display: flex;
  align-items: center;
}

article .tweetheader {
  display: flex;
  font-weight: normal;
  font-size: 20px;
  justify-content: space-between;
  color: #001f1d;
}

article .tweet-body{
  background-color: #f8f8f8;
  color: #001f1d;
  font-size: 25px;
  align-items: center;
}


article .tweetfooter{
  display: flex;
  color: #001f1d;
  font-weight: normal;
  font-size: 15px;
  border-top: solid #354246 1px;
  padding: 8px;
  justify-content: space-between;
  margin: auto;

}

article h8 {
  font-size: 14pt;
  color: grey;
}

article .icons {
  display: none;
  justify-content: space-between;
}


article:hover .icons {
  width: 6vw;
  display: flex;
  color: grey;
  font-size: 20px;
  justify-content: space-between;

}

article .category {
  background-color: #fbfbfb;
  width: 80%;
  margin: auto;
  border-top: solid #354246 4px;
  border-left: solid #354246 4px;
  border-right: solid #354246 4px;
  border-bottom: solid #354246 4px;
  box-shadow: black;
  transition: box-shadow;



}

