.category {
  background: #a7b5bd;
  color: rgb(0, 12, 44);
  font-family: Prompt, sans-serif;
  font-size: 12pt;
  width: 38vw;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;

}

button.remove {
  align-self: right;
  font-family: Prompt, sans-serif;
  font-size: 11pt;
  font-weight: normal;
  color: rgb(97, 97, 97);
  background-color: rgb(204, 204, 204);
  border: 2px solid #414141;
  transition: all 0.5s;
  margin: 5px;
}

button.remove:hover {
  color: red;
  border:2px solid #570000;
}

button.edit {
  align-self: right;
  font-family: Prompt, sans-serif;
  font-size: 11pt;
  font-weight: normal;
  color: rgb(97, 97, 97);
  background-color: rgb(204, 204, 204);
  border: 2px solid #414141;
  transition: all 0.5s;
  margin: 5px;
}

button.edit:hover {
  color: rgb(0, 82, 14);
  border:2px solid #022a00;

}


article {
  // padding: 10px;
  width: 100%;
  background-color: #ffffff;
  font-weight: normal;
  border-radius: 15px;
  border: solid #313131 2px;
  margin-bottom: 15px;
  padding: 20px;
  text-align: left;
  transition: all 0.2s;
}

// article:hover {
//   -moz-box-shadow: 3x 3px 0px #35415c;
//   -webkit-box-shadow: 3px 3px 0px #35415c;
//   box-shadow: 3px 3px 0px #35415c;

// }


article .itemheader {
  display: flex;
  font-weight: normal;
  font-size: 20px;
  justify-content: space-between;
  color: #3d0046;
}

article .itembody{
  background-color: #f8f8f8;
  color: #00051f;
  font-size: 25px;
  align-items: left;
  padding: 15px;
}


.article-footer {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: right;
}
